/* ============================
   Importation des Fichiers CSS
   ============================ */

/* ============================
   Importation des Styles du Header
============================ */
@import url('header.css');

/* ============================
   Importation des Styles du Footer
============================ */
@import url('footer.css');

/* ============================
   Importation des Styles du Hamberger-menu
============================ */
@import url('components/hamburger-menu.css');

/* ============================
   Importation des Styles du Ressponsive global
============================ */
@import url('responsive.css');

/* ============================
   Variables Globales
   ============================ */

:root {
    --white: #FFFFFF;
    --black: #000000;
    --light-gray: #F5F5F7;
    --dark-gray: #1D1D1F;
    --accent-color: #0071E3;
    --hover-color: #022DAD;
}

/* ============================
   Style Général du Corps
   ============================ */

body {
    background-color: var(--white);
    color: var(--dark-gray);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

/* ============================
   Liens Globaux
   ============================ */

a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--hover-color);
    text-decoration: none;
}

/* ============================
   Titres Globaux
   ============================ */

h1, h2, h3 {
    color: var(--black);
    margin-top: 0;
}

/* ============================
   Conteneur Global
   ============================ */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

