/* Palette de couleurs */
:root {
    --gray-purple: #C6C4DA;
    --deep-blue: #022DAD;
    --light-gray: #BFCBD6;
    --white: #FFFFFF;
}

/* Style général du corps */
body {
    background-color: var(--gray-purple);
    color: var(--white);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Liens */
a {
    color: var(--light-gray);
    text-decoration: none;
}

a:hover {
    color: var(--deep-blue);
    text-decoration: underline;
}

/* Header */
header {
    background-color: var(--deep-blue);
    color: var(--gray-purple);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Navigation */
nav a {
    color: var(--gray-purple);
    margin-left: 15px;
    font-weight: bold;
}

nav a:hover {
    color: var(--light-gray);
}

/* Main Content */
main {
    padding: 20px;
}

section {
    background-color: var(--light-gray);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: var(--deep-blue);
    box-shadow: none;
}

section h2 {
    color: var(--deep-blue);
    margin-top: 0;
}

/* Footer */
footer {
    background-color: var(--deep-blue);
    color: var(--gray-purple);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
