/* ============================
   Hamburger Menu Icon
   ============================ */

.menu-icon {
    display: none; /* Caché par défaut sur desktop */
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--white);
    border-radius: 5px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.menu-icon:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
}

.menu-icon:focus {
    outline: 2px solid var(--hover-color);
}


/* ============================
   Navigation Menu for Mobile
   ============================ */

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Caché par défaut */
    flex-direction: column;
    background-color: var(--white);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(-10px);
    opacity: 0;
    max-height: 90vh;
    overflow-y: auto;
}

.nav-menu ul.show {
    display: flex; /* Afficher le menu déroulant */
    transform: translateY(0);
    opacity: 1;
}

.nav-menu ul li {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid var(--light-gray);
}

.nav-menu ul li a {
    color: var(--dark-gray);
    font-size: 18px;
    font-weight: 500;
    display: block;
    width: 100%;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-menu ul li a:hover {
    background-color: var(--light-gray);
}

.nav-menu ul li a:focus {
    outline: 2px solid var(--hover-color);
}

/* ============================
   Responsive for Mobile Devices
   ============================ */

@media (max-width: 768px) {
    .menu-icon {
        display: block; /* Afficher le bouton hamburger */
    }

    .nav-menu ul {
        display: none; /* Par défaut, le menu est caché */
    }

    .nav-menu ul.show {
        display: flex; /* Afficher le menu quand on clique */
    }
}
